.header__logo {
   padding: 0 0 40px 3px;
   margin: 0;
}

@media (max-width: 895px) {
   .header__logo {
      padding: 0 0 35px 20px;
   }
}

@media (max-width: 768px) {
   .header__logo {
      padding: 0 0 27px 27px;
      width: 103px;
      height: 25px;
   }
} 