.profile__avatar-edit-button {
   height: 36px;
   width: 36px;
   margin: 0;
   padding: 60px;
   background-image: url(../../../images/edit-pen-avatar.svg);
   background-color: transparent;
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   transition: opacity 0.2s ease-in;
   border: 0;
   opacity: 0;
}

.profile__avatar-edit-button:hover {
   opacity: 1;
   z-index: 1;
}

