.profile__menu {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   position: relative;
}

@media (max-width: 570px) {
   .profile__menu {
      margin: 0 auto;
      flex-direction: column;
   }
}