@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/body/body.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__nav-container/header__nav-container.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__menu/profile__menu.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);
@import url(./blocks/profile/__high-row/profile__high-row.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_dark-overlay/popup_dark-overlay.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__card/popup__card.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__info-img/popup__info-img.css);
@import url(./blocks/popup/__sub-title/popup__sub-title.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_error-type/form__input_error-type.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__save-button/form__save-button.css);
@import url(./blocks/form/__save-button/_disabled/form__save-button_disabled.css);

@import url(./blocks/auth-form/auth-form.css);
@import url(./blocks/auth-form/__container/auth-form__container.css);
@import url(./blocks/auth-form/__title/auth-form__title.css);
@import url(./blocks/auth-form/__field/auth-form__field.css);
@import url(./blocks/auth-form/__input/auth-form__input.css);
@import url(./blocks/auth-form/__save-button/auth-form__save-button.css);
@import url(./blocks/auth-form/__text/auth-form__text.css);
@import url(./blocks/auth-form/__link/auth-form__link.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__element/elements__element.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);
@import url(./blocks/elements/__row/elements__row.css);
@import url(./blocks/elements/__place/elements__place.css);
@import url(./blocks/elements/__like-container/elements__like-container.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/elements/__like-meter/elements__like-meter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

body {
  max-width: 882px;
  min-width: 320px;
  padding-top: 45px;
  padding-bottom: 60px;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #000000;
  display: block;
  margin: 0 auto;
}

@media (max-width: 550px) {
  body {
    padding-top: 28px;
    padding-bottom: 36px;
  }
} 
